
<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Find Tours</ng-template>
        <div class="row">
          <div class="col-md-12">
            <nb-card class="inline-form-card">
              <nb-card-header>Search For Tours</nb-card-header>
              <nb-card-body>
                <form class="form-inline" style="justify-content: space-between;">
                  <nb-select selected="1" required>
                    <nb-option value="1">Morning Tour</nb-option>
                    <nb-option value="2">Afternoon Tour</nb-option>
                  </nb-select>
                  <input #date nbInput  placeholder="Select Date" [nbDatepicker]="picker" (ngModelChange)="onDateSelect(date)"/>
                  <nb-datepicker #picker required ></nb-datepicker>
                  <nb-select required placeholder="Select Tour" selected="1">
                    <nb-option value="9am">9am</nb-option>
                    <nb-option value="10am">10am</nb-option>
                    <nb-option value="11am">11am</nb-option>
                    <nb-option value="12pm">12pm</nb-option>
                    <nb-option value="12pm">1pm</nb-option>
                  </nb-select>
                  <nb-checkbox (checkedChange)="toggle($event)" #recurring>Recurring</nb-checkbox>
                  <nb-select *ngIf="checked"  placeholder="For How Long?">
                    <nb-option value="1">2 Weeks</nb-option>
                    <nb-option value="2">3 Weeks</nb-option>
                    <nb-option value="3">4 Weeks</nb-option>
                    <nb-option value="4">5 Weeks</nb-option>
                    <nb-option value="5">6 Weeks</nb-option>
                    <nb-option value="6">7 Weeks</nb-option>
                    <nb-option value="7">8 Weeks</nb-option>
                    <nb-option value="8">9 Weeks</nb-option>
                    <nb-option value="9">10 Weeks</nb-option>
                    <nb-option value="10">11 Weeks</nb-option>
                    <nb-option value="11">12 Weeks</nb-option>
                  </nb-select>
                  <button nbButton (click)="searchBookings($event)"status="primary">Submit</button>
                </form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <nb-card>
                <nb-card-header>Choose Your Tickets From Below</nb-card-header>
                <nb-card-body>
                  <nb-list>
                    <nb-list-item *ngFor="let ticketOption of tickets">
                      <div class="form-inline">
                        <button nbButton status="primary"  id="decrease{{ ticketOption.description }}" (click)="removeTicket($event, ticketOption)" class="" alt="">
                          <nb-icon icon="minus-outline"></nb-icon>
                        </button>
                        <input (change)="onKey($event, ticketOption)" nbInput type="number" id="count{{ ticketOption.description }}" class="ticketQuantity" value="{{ticketOption.quantitySelected}}" min="0" max="10">
                        <button nbButton status="primary"  id="increase{{ ticketOption.description }}" (click)="addTicket($event, ticketOption)" class="" alt="">
                          <nb-icon icon="plus-outline"></nb-icon></button>
                        {{ ticketOption.description }}
                        {{ ticketOption.price | currency:'EUR' }}
                      </div>
                    </nb-list-item>
                  </nb-list>
                </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-8">
              <nb-card >
                <nb-card-header>Results</nb-card-header>
                <nb-card-body>
                  <nb-list  [nbSpinner]="true" nbSpinnerStatus="control" nbSpinnerSize="large">
                    <!-- <nb-list-item *ngFor="let ticketOption of tours">
                      <h2>{{ticketOption.EventEventDesc}}</h2>
                      <button status="danger">
                        <nb-icon icon="close-outline"></nb-icon>
                      </button>
                    </nb-list-item> -->
                  </nb-list>
                </nb-card-body>
                </nb-card>
            </div>
        </div>
        <!-- <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step label="Payment">
        <ng-template #label>Payment</ng-template>
        <h4>Payment</h4>
        <p class="lorem">

        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Confirm</ng-template>
        <h4>Confirm</h4>
        <p class="lorem">
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>



