
<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Find Tours</ng-template>
        <div class="row">
          <div class="col-md-12">
            <nb-card class="inline-form-card">
              <nb-card-header>Search For Tours</nb-card-header>
              <nb-card-body>
                <form class="form-inline">
                  <nb-select #chooseEvent  placeholder="Choose Tour" required (selectedChange)="eventSelected($event)">
                    <nb-option *ngFor="let tour of tourDropdownDates" value="{{tour.EventCode}}">{{tour.EventDesc}}</nb-option>
                  </nb-select>
                    <input #date nbInput  placeholder="Select Date" [nbDatepicker]="picker" [disabled]="!selectedEvent"/>
                    <nb-datepicker #picker required (dateChange)="onDateSelect($event)" [min]="minDate" [max]="maxDate"></nb-datepicker>
                    <nb-select required placeholder="Select Tour" (selectedChange)="timeSelected($event)" *ngIf="selectedEvent">
                      <nb-option *ngFor="let time of selectedEvent.times" value="{{time.Value}}">{{time.DisplayTime}}</nb-option>
                    </nb-select>
                    <nb-checkbox (checkedChange)="toggle($event)" #recurring [disabled]="!selectedEvent">Recurring</nb-checkbox>
                    <nb-select *ngIf="checked"  placeholder="For How Long?" (selectedChange)="setRecurringFor($event)">
                      <nb-option value="1">2 Weeks</nb-option>
                      <nb-option value="2">3 Weeks</nb-option>
                      <nb-option value="3">4 Weeks</nb-option>
                      <nb-option value="4">5 Weeks</nb-option>
                      <nb-option value="5">6 Weeks</nb-option>
                      <nb-option value="6">7 Weeks</nb-option>
                      <nb-option value="7">8 Weeks</nb-option>
                      <nb-option value="8">9 Weeks</nb-option>
                      <nb-option value="9">10 Weeks</nb-option>
                      <nb-option value="10">11 Weeks</nb-option>
                      <nb-option value="11">12 Weeks</nb-option>
                    </nb-select>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button [disabled]="!selectedEvent" nbButton (click)="reset()"status="warning">Reset</button>
                      <button [disabled]="!selectedEvent" nbButton (click)="searchBookings($event)"status="primary">Submit</button>
                    </div>

                </form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <nb-card>
                <nb-card-header>Choose Your Tickets From Below</nb-card-header>
                <nb-card-body *ngIf="selectedEvent">
                  <nb-list>
                    <nb-list-item *ngFor="let ticketOption of selectedEvent.tickets">
                      <div class="form-inline">
                        <button nbButton status="primary"  id="decrease{{ ticketOption.description }}" (click)="removeTicket($event, ticketOption)" class="" alt="">
                          <nb-icon icon="minus-outline"></nb-icon>
                        </button>
                        <input (change)="onKey($event, ticketOption)" nbInput type="number" id="count{{ ticketOption.description }}" class="ticketQuantity" value="{{ticketOption.quantitySelected}}" min="0" max="10">
                        <button nbButton status="primary"  id="increase{{ ticketOption.description }}" (click)="addTicket($event, ticketOption)" class="" alt="">
                          <nb-icon icon="plus-outline"></nb-icon></button>
                          <span>
                        {{ ticketOption.description }}
                        {{ ticketOption.price | currency:'EUR' }}
                        </span>
                      </div>
                    </nb-list-item>
                  </nb-list>
                </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-8">
              <nb-card >
                <nb-card-header>Results</nb-card-header>
                <nb-card-body *ngIf="tours" >
                  <nb-list>
                    <nb-list-item *ngFor="let tour of tours" >
                      <nb-alert status="success" style="width: 100%; justify-content: space-between;" *ngIf="tour.IsAvailable" >
                      <strong>Tour Available</strong>
                        <div class="form-inline">
                          <h6>{{tour.EventEventDesc}}</h6>
                          <h6>{{tour.TourDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
                        </div>
                    </nb-alert>
                    <nb-alert status="danger" style="width: 100%; justify-content: space-between;" *ngIf="!tour.IsAvailable">
                     <strong>Tour Unavailable</strong>
                      <div class="form-inline">
                        <h6>{{tour.EventEventDesc}}</h6>
                        <h6>{{tour.TourDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
                        <p>This Tour Doesn't have required capacity. Please choose An alternative</p>
                    <nb-select required placeholder="Select Tour" (selectedChange)="newTourSelected($event, tour)" *ngIf="tour.AlternativeTimes">
                      <nb-option *ngFor="let time of tour.AlternativeTimes" value="{{time.Value}}">{{time.DisplayTime}}</nb-option>
                    </nb-select>
                      </div>
                  </nb-alert>
                  <button nbButton status="danger" (click)="removeFromTourList($event,tour)" *ngIf="tour" >
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                    </nb-list-item>
                  </nb-list>
                </nb-card-body>
                <button nbButton (click)="reserveTours()" nbStepperNext [disabled]="!canProceed">Next</button>
                </nb-card>
            </div>
        </div>
        <!-- <button nbButton disabled nbStepperNext>prev</button> -->

      </nb-step>
      <nb-step label="Payment">
        <ng-template #label>Payment</ng-template>
        <div class="col-md-12">
          <nb-card >
            <nb-card-header>Payment Summary</nb-card-header>
            <nb-card-body *ngIf="Cart.Bookings" >
              <nb-accordion>
                <nb-accordion-item *ngFor="let booking of Cart.Bookings" >
                  <nb-accordion-item-header style="justify-content: center;">
                    {{booking.bookingDate | date:'medium' }}
                    {{Cart.Event.eventDesc}}
                    {{booking.totalCost | currency:'EUR'}}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    <nb-list style="justify-content: space-between;">
                      <nb-list-item *ngFor="let ticket of booking.items" style="justify-content: space-between;">
                        <h6>{{ticket.description}} X {{ticket.quantitySelected}} </h6>
                        <h6>{{ticket.subtotal | currency:'EUR'}}</h6>
                      </nb-list-item>
                      <nb-list-item style="justify-content: space-between;">
                        <h6>Total: </h6>
                        <h6>{{booking.totalCost | currency:'EUR'}}</h6>
                      </nb-list-item>
                    </nb-list>
                  </nb-accordion-item-body>
                </nb-accordion-item>
                </nb-accordion>
                <nb-alert outline="success" style="width: 100%; justify-content: space-between;" *ngIf="Cart.Total <= debtorBalance" >
                  <div class="form-inline">
                    <h6>This Transaction has been successfully authorized</h6>
                    <h6>Total: </h6>
                    <h6>{{Cart.Total | currency:'EUR'}}</h6>
                    <button nbButton nbStepperPrevious>Previous Step</button>
                    <button nbButton nbStepperNext (click)="updateList()">Confirm Order</button>
                  </div>
          </nb-alert>
          <nb-alert status="danger" style="width: 100%; justify-content: space-between;" *ngIf="Cart.Total > debtorBalance">
            <div class="form-inline">
                    <h6>This Transaction can not be authorized</h6>
                    <h6>Total: </h6>
                    <h6>{{Cart.Total | currency:'EUR'}}</h6>
                    <button nbButton status='danger' nbStepperPrevious>Prev</button>
                  </div>
            </nb-alert>
            </nb-card-body>
            </nb-card>
            </div>

      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Confirm</ng-template>
        <div class="col-md-12">
          <nb-card >
            <nb-card-header>Booking Confirmed</nb-card-header>
            <nb-card-body>
              You're all set. You Will recieve an invoice shortly.
            </nb-card-body>
          </nb-card>
          </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>



